.Form label {
  display: block;
}

.Form input {
  margin-bottom: 1rem;
}

.Form form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.Form form input {
  width: 100%;
  padding: 0.25rem 0.5rem;
}
