.ItemDetail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.ItemDetail-thumbnail {
  margin-inline: auto;
}

.ItemDetail-title {
  margin: 0 0 1rem;
}

.ItemDetail-price {
  margin: 0;
  font-weight: 600;
}
