.ItemCount {
  background-color: #eee;
  padding: 1rem;
  width: 20rem;
  margin-inline: auto;
}

.ItemCount-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.ItemCount-number {
  text-align: center;
  font-weight: 700;
}
