.ItemList {
  display: grid;
}

@media screen and (min-width: 48rem) {
  .ItemList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 62rem) {
  .ItemList {
    grid-template-columns: repeat(3, 1fr);
  }
}
