.NavBar {
  background-color: #222;
  padding: 1rem;
}

.NavBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
}

.NavBar a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.NavBar a:hover {
  background-color: #fff;
  color: #333;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.NavBar li:not(:last-child) {
  margin-right: 1rem;
}

.NavBar p {
  font-weight: 700;
}
